.nav,.gallery-holder, .more form, .social-icons, .tabset, .tab img, .tags, .comments, legend{
    display: none;
}

*, a, .mark{
    color:#000;
    font-family: Aller,sans-serif;
}
ul, img {
    page-break-inside: avoid;
}

/*---HEADER---*/
#header {
    background-color: #fff;
    border-bottom:none;
    height: 140px;
    box-shadow: none;
}
.header-holder h1 {
    float: left;
    margin-left:60px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.header-holder:after {
    content: url('http://qrcoder.ru/code/?http%3A%2F%2Flocalhost%3A63342%2FIkaros%2Findex.html&4&0');
}
/*---END HEADER---*/

/*---SECTION---*/
.section, .wrapper, body {
    width: auto;
    margin: 0;
    background-color: #fff;
}
.section p{
    margin-bottom: 5px;
}
.wrapper, body{
    padding: 0 5px;
}
.section {
    padding: 10px;
}
.section p{
    margin-bottom: 10px;
}
.separator::before{
    background: none;
}
/*---END TABSET---*/

/*---TABSET---*/
.tab {
    display: table;
}
.tabs-holder {
    margin-top: 0;
}
.tab:before {
    display: block;
    color: #555;
    padding: 10px 0;
    border-bottom: 1px dotted #ccc;
    text-align: center;
    margin-bottom: 20px;
    font: 20px Aller-Bold, sans-serif;
}
#tab-web-deign:before {
    content:'Web Design';
}
#tab-photo:before {
    content:'Photo';
}
#tab-graphics:before {
    content:'Graphics';
}
.tab,.tab.active {
    width: 28%;
    padding-top:0;
    box-sizing: border-box;
    text-align: justify;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
}
.tab-content {
    width: 100%;
}
.tab-content p {
    text-align: justify;
}
.tab-content h4 {
    font-size: 16px;
}
/*---END TABSET---*/

/*---LATEST BLOG---*/
.blog {
    margin-top:25px;
    margin-bottom: 10px;
}
.post {
    margin-bottom: 20px;
}
.abstract h4 a:after, .more a:after {
    content: " (" attr(href) ") ";
    display: block;
}
/*---END LATEST BLOG---*/

/*---CUSTOMERS---*/
.customers-holder {
    margin-top: 40px;
}
.customers {
    list-style: decimal;
    width: 100%;
    text-align: center;
}
.customers li a {
    text-transform: uppercase;
    font-size:22px;
    display: block;
    margin: 0 20px;
    background: none;
    text-indent: 0;
    height: auto;
    width: auto;
}
/*---END CUSTOMERS---*/

/*---FOOTER---*/
#footer, .bottom-bar {
    background: none;
    border: none;
}
#footer {
    margin-top: 30px;
}
.more:last-child{
    display: none;
}
.more h5 {
    font-size:16px;
}
.more {
    width: 30%;
    margin: 10px;
    font-size: 12px;
}
.more li:not(:last-child):after{
    display: none;
}
.popular time {
    display: inline-block;
}
.bottom-bar span {
    display: block;
    width:100%;
    text-align: center;
    padding:0;
}
@page {
    margin: 2cm;
}